* {
    background-color: rgb(19, 107, 25);
    margin: 5px;
    font-family:monospace;
    font-size: 30px;
    text-decoration: none
}

.account h1{
    font-size: 46px;
    text-align: center;
}






